In [1]:
import pandas as pd
import pyodbc
conn = pyodbc.connect(r'Driver={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=C:\Users\Administrator\Downloads\INTERN_CDR\CDR_Data.mdb;')
cursor = conn.cursor()

'''cnxn   = pyodbc.connect(...)
cursor = cnxn.cursor()'''

for row in cursor.tables():
    print (row.table_name)

MSysAccessObjects
MSysAccessXML
MSysACEs
MSysNameMap
MSysNavPaneGroupCategories
MSysNavPaneGroups
MSysNavPaneGroupToObjects
MSysNavPaneObjectIDs
MSysObjects
MSysQueries
MSysRelationships
customerCalls
customerInformation
incomming
model
model-OffPeak
model-Peak
Paste Errors
phoneNumberData
phoneNumberType
Table1
timeData
timePlans
customerCalls Query
customerCalls Query1
customerCalls Query2
customerInformation Query
Intl
model Query
model Query1
qryAllOutputs4Weeks
qryCallInfo4Weeks
qryCallSummary4Weeksv2
qryCodeCounts
qryGetLocalCodes
qryHighRisk-CallSummary4Weeks2
qryLowRisk-CallSummary4Weeks2
qryModels
qryPeriodIncomming-4Weeks
qryTimeData
qryTimeDataChrt
qryTimePlans

In [2]:
SQL_Query = pd.read_sql_query(
'''SELECT * FROM customerInformation''', conn)

df = pd.DataFrame(SQL_Query, columns=['customerPhoneNumber','incomingCalls', 'modelID', 'dataType'])
df

     customerPhoneNumber  incomingCalls  modelID  dataType
0             0296393418            250        1         1
1             0141382566            239        1         2
2             0187219904            254        1         3
3             0144631092            255        1         4
4             0159361948            255        1         0
...                  ...            ...      ...       ...
1043          0138869101            244       20         1
1044          0284124565            250       20         2
1045          0147115510            249       20         3
1046          0177249622            253       20         4
1047          0125595988            251       20         0

[1048 rows x 4 columns]

In [3]:
SQL_Query = pd.read_sql_query(
str.format('''SELECT top {0} * FROM customerInformation''', 10), conn)

df = pd.DataFrame(SQL_Query, columns=['customerPhoneNumber','incomingCalls', 'modelID', 'dataType'])
df

  customerPhoneNumber  incomingCalls  modelID  dataType
0          0296393418            250        1         1
1          0141382566            239        1         2
2          0187219904            254        1         3
3          0144631092            255        1         4
4          0159361948            255        1         0
5          0172146676            256        1         1
6          0114946582            248        1         2
7          0168966959            255        1         3
8          0134913794            240        1         4
9          0172531410            251        1         0

In [4]:
SQL_Query = pd.read_sql_query(
    '''Select * from phoneNumberType
    ''',conn)

df = pd.DataFrame(SQL_Query)
df

   typeID  typeName
0       1      Free
1       2     Local
2       3  National
3       4      Intl
4       5       PRS
5       6    Mobile

In [5]:
SQL_Query = pd.read_sql_query(
    '''Select top 10  * from ((customerCalls cusCall
        INNER join customerinformation cusInfo on 
        cusCall.customerphoneNumber = cusInfo.customerphoneNumber)
        INNER JOIN model mdl on mdl.modelID = cusInfo.modelID)
    ''',conn)

df = pd.DataFrame(SQL_Query)
df.columns

Index(['callID', 'customerPhoneNumber', 'startDate', 'endDate', 'callStart',
       'callEnd', 'phoneNumber', 'callType', 'callCost', 'customerPhoneNumber',
       'incomingCalls', 'modelID', 'dataType', 'modelID', 'modelName',
       'numAccounts', 'callsMean', 'callsStdDev', 'startDate', 'endDate',
       'offPeakStart', 'offPeakEnd', 'numIncommingMean', 'numIncommingStdDev',
       'fraudulent', 'mon', 'tue', 'wed', 'thur', 'fri', 'sat', 'sun',
       'meanNumOutLocal', 'stdDevNumOutLocal', 'meanNumOutFree',
       'stdDevNumOutFree', 'meanNumOutNational', 'stdDevNumOutNational',
       'meanNumOutIntl', 'stdDevNumOutIntl', 'meanNumOutPRS',
       'stdDevNumOutPRS', 'meanNumOutMobile', 'stdDevNumOutMobile',
       'meanPhoneLines', 'stdDevPhoneLines'],
      dtype='object')

In [6]:
import pyodbc
import pandas as pd

conn = pyodbc.connect(r'Driver={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=C:\Users\Administrator\Downloads\INTERN_CDR\CDR_Data.mdb;')
SQL_Query = pd.read_sql_query(
    '''SELECT TOP 50000
        cusCall.callID, 
        cusCall.customerPhoneNumber, 
        cusCall.startDate,
        cusCall.endDate,
        cusCall.callStart,
        cusCall.callEnd,
        cusCall.callType,
        cusCall.callCost,
        cusInfo.incomingCalls,
        cusInfo.modelID,
        mdl.modelName,
        mdl.fraudulent
        FROM ((customerCalls cusCall
        INNER JOIN customerinformation cusInfo ON 
        cusCall.customerphoneNumber = cusInfo.customerphoneNumber)
        INNER JOIN model mdl ON mdl.modelID = cusInfo.modelID)
    ''', conn)

df_data = pd.DataFrame(SQL_Query)
df_data

,callID,customerPhoneNumber,startDate,endDate,callStart,callEnd,callType,callCost,incomingCalls,modelID,modelName,fraudulent
0,1,0296393418,2013-01-02,2013-01-02,1899-12-30 06:25:00,1899-12-30 06:28:00,National,15.113445,250,1,Normal Average,False
1,2,0296393418,2013-10-02,2013-10-02,1899-12-30 10:00:00,1899-12-30 10:05:00,National,23.026891,250,1,Normal Average,False
2,3,0296393418,2013-01-20,2013-01-20,1899-12-30 16:45:00,1899-12-30 17:12:00,Local,27.176660,250,1,Normal Average,False
3,4,0296393418,2013-01-21,2013-01-21,1899-12-30 20:35:00,1899-12-30 20:58:00,Local,23.828167,250,1,Normal Average,False
4,5,0296393418,2013-02-03,2013-02-03,1899-12-30 21:20:00,1899-12-30 21:51:00,Local,31.088230,250,1,Normal Average,False
...,...,...,...,...,...,...,...,...,...,...,...,...
49995,49996,0194653110,2013-02-26,2013-02-26,1899-12-30 21:00:00,1899-12-30 21:15:00,Local,15.136757,256,2,Normal No International,False
49996,49997,0194653110,2013-06-01,2013-06-01,1899-12-30 15:15:00,1899-12-30 15:16:00,Mobile,16.605813,256,2,Normal No International,False
49997,49998,0194653110,2013-07-02,2013-07-02,1899-12-30 18:40:00,1899-12-30 18:41:00,Free,0.000000,256,2,Normal No International,False
49998,49999,0194653110,2013-01-26,2013-01-26,1899-12-30 19:25:00,1899-12-30 19:50:00,Local,25.070203,256,2,Normal No International,False
49999,50000,0194653110,2013-02-23,2013-02-23,1899-12-30 15:35:00,1899-12-30 15:35:00,Mobile,0.487611,256,2,Normal No International,False

In [7]:
df_data = df_data.assign(startDay = df_data['startDate'].dt.day_name())
df_data = df_data.assign(endDay = df_data['endDate'].dt.day_name())

In [8]:
from sklearn.model_selection import train_test_split
df_data_X = df_data[["callID", "callStart", "callEnd", "startDay", "endDay", "callType", "callCost"]]
df_data_y = df_data["fraudulent"].astype(int)
X_train_data_set, X_test_data_set, y_train_data_set, y_test_data_set = train_test_split(df_data_X, df_data_y, test_size=0.33, random_state=9)

In [9]:
df_data_y.head()

0    0
1    0
2    0
3    0
4    0
Name: fraudulent, dtype: int32

In [10]:
X_train_data_set.head()

,callID,callStart,callEnd,startDay,endDay,callType,callCost
20972,20973,1899-12-30 21:15:00,1899-12-30 21:51:00,Thursday,Thursday,Local,36.211013
40833,40834,1899-12-30 22:00:00,1899-12-30 22:03:00,Wednesday,Wednesday,National,13.526986
37949,37950,1899-12-30 15:40:00,1899-12-30 15:58:00,Sunday,Sunday,Local,18.694535
18108,18109,1899-12-30 13:20:00,1899-12-30 13:35:00,Tuesday,Tuesday,Mobile,236.024526
46326,46327,1899-12-30 03:10:00,1899-12-30 03:43:00,Thursday,Thursday,Local,33.852937

In [11]:
print("-----------------Description--------------------\n")
print(X_train_data_set.describe())
print("\n\n-----------------Information--------------------\n")
print(X_train_data_set.info())

-----------------Description--------------------

             callID      callCost
count  33500.000000  33500.000000
mean   24927.783284     56.663373
std    14406.839791     85.498527
min        1.000000      0.000000
25%    12494.750000     14.877737
50%    24892.500000     26.510394
75%    37355.500000     54.053796
max    50000.000000    959.411192


-----------------Information--------------------

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33500 entries, 20972 to 20828
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   callID     33500 non-null  int64
 1   callStart  33500 non-null  datetime64[ns]
 2   callEnd    33500 non-null  datetime64[ns]
 3   startDay   33500 non-null  object
 4   endDay     33500 non-null  object
 5   callType   33500 non-null  object
 6   callCost   33500 non-null  float64
dtypes: datetime64[ns](2), float64(1), int64(1), object(3)
memory usage: 2.0+ MB
None

In [12]:
SQL_Query = pd.read_sql_query(
str.format('''SELECT top {0} * FROM Intl''', 10), conn)

df = pd.DataFrame(SQL_Query)
df

   Call Type  Field1
0          4   09001
1          4   09002
2          4  090030
3          4  090031
4          4  090032
5          4  090033
6          4  090034
7          4  090035
8          4  090036
9          4  090037

In [13]:
print("-----------------Description--------------------\n")
print(X_train_data_set.describe())
print("\n\n-----------------Information--------------------\n")
print(X_train_data_set.info())
X_train_data_set.head()

-----------------Description--------------------

             callID      callCost
count  33500.000000  33500.000000
mean   24927.783284     56.663373
std    14406.839791     85.498527
min        1.000000      0.000000
25%    12494.750000     14.877737
50%    24892.500000     26.510394
75%    37355.500000     54.053796
max    50000.000000    959.411192


-----------------Information--------------------

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33500 entries, 20972 to 20828
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   callID     33500 non-null  int64
 1   callStart  33500 non-null  datetime64[ns]
 2   callEnd    33500 non-null  datetime64[ns]
 3   startDay   33500 non-null  object
 4   endDay     33500 non-null  object
 5   callType   33500 non-null  object
 6   callCost   33500 non-null  float64
dtypes: datetime64[ns](2), float64(1), int64(1), object(3)
memory usage: 2.0+ MB
None

,callID,callStart,callEnd,startDay,endDay,callType,callCost
20972,20973,1899-12-30 21:15:00,1899-12-30 21:51:00,Thursday,Thursday,Local,36.211013
40833,40834,1899-12-30 22:00:00,1899-12-30 22:03:00,Wednesday,Wednesday,National,13.526986
37949,37950,1899-12-30 15:40:00,1899-12-30 15:58:00,Sunday,Sunday,Local,18.694535
18108,18109,1899-12-30 13:20:00,1899-12-30 13:35:00,Tuesday,Tuesday,Mobile,236.024526
46326,46327,1899-12-30 03:10:00,1899-12-30 03:43:00,Thursday,Thursday,Local,33.852937

In [14]:
SQL_Query = pd.read_sql_query(
str.format('''SELECT top {0} * FROM Intl''', 10), conn)

df = pd.DataFrame(SQL_Query)
df

   Call Type  Field1
0          4   09001
1          4   09002
2          4  090030
3          4  090031
4          4  090032
5          4  090033
6          4  090034
7          4  090035
8          4  090036
9          4  090037

In [15]:
print("-----------------Description--------------------\n")
print(X_train_data_set.describe())
print("\n\n-----------------Information--------------------\n")
print(X_train_data_set.info())
X_train_data_set.head()

-----------------Description--------------------

             callID      callCost
count  33500.000000  33500.000000
mean   24927.783284     56.663373
std    14406.839791     85.498527
min        1.000000      0.000000
25%    12494.750000     14.877737
50%    24892.500000     26.510394
75%    37355.500000     54.053796
max    50000.000000    959.411192


-----------------Information--------------------

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33500 entries, 20972 to 20828
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   callID     33500 non-null  int64
 1   callStart  33500 non-null  datetime64[ns]
 2   callEnd    33500 non-null  datetime64[ns]
 3   startDay   33500 non-null  object
 4   endDay     33500 non-null  object
 5   callType   33500 non-null  object
 6   callCost   33500 non-null  float64
dtypes: datetime64[ns](2), float64(1), int64(1), object(3)
memory usage: 2.0+ MB
None

,callID,callStart,callEnd,startDay,endDay,callType,callCost
20972,20973,1899-12-30 21:15:00,1899-12-30 21:51:00,Thursday,Thursday,Local,36.211013
40833,40834,1899-12-30 22:00:00,1899-12-30 22:03:00,Wednesday,Wednesday,National,13.526986
37949,37950,1899-12-30 15:40:00,1899-12-30 15:58:00,Sunday,Sunday,Local,18.694535
18108,18109,1899-12-30 13:20:00,1899-12-30 13:35:00,Tuesday,Tuesday,Mobile,236.024526
46326,46327,1899-12-30 03:10:00,1899-12-30 03:43:00,Thursday,Thursday,Local,33.852937

In [16]:
import datetime 
import calendar
import numpy as np
from sklearn.base import BaseEstimator, TransformerMixin

class CallDurationAttribute(BaseEstimator, TransformerMixin):

    def __init__(self, includeSeconds=False):
        self.includeSeconds = includeSeconds
        
    def fit(self, X, y=None):
        return self
    
    def transform(self, X, y=None):
        callDuration = pd.DataFrame(X[:,2] - X[:,1])
        
      
        duration_hours = callDuration.apply(lambda h : h[0].components[1], axis=1)
        duration_minutes = callDuration.apply(lambda m : m[0].components[2], axis=1)
        
        
        
        
        if self.includeSeconds:  
            duration_seconds = callDuration.apply(lambda s : s[0].components[3], axis=1)
            
            return np.c_[X, duration_hours, duration_minutes, duration_seconds]
        else:
            return np.c_[X, duration_hours, duration_minutes]

In [17]:
X_train_data_set.head()

,callID,callStart,callEnd,startDay,endDay,callType,callCost
20972,20973,1899-12-30 21:15:00,1899-12-30 21:51:00,Thursday,Thursday,Local,36.211013
40833,40834,1899-12-30 22:00:00,1899-12-30 22:03:00,Wednesday,Wednesday,National,13.526986
37949,37950,1899-12-30 15:40:00,1899-12-30 15:58:00,Sunday,Sunday,Local,18.694535
18108,18109,1899-12-30 13:20:00,1899-12-30 13:35:00,Tuesday,Tuesday,Mobile,236.024526
46326,46327,1899-12-30 03:10:00,1899-12-30 03:43:00,Thursday,Thursday,Local,33.852937

In [18]:
class CallDayAttribute(BaseEstimator, TransformerMixin):

    def __init__(self):
        pass
        
    def fit(self, X, y=None):
        return self
    
    def transform(self, X, y=None):
        callDay = pd.DataFrame(X[:,0])
        
        call_Day =callDay[0].dt.day_name()
      
        return np.c_[X, call_Day]

In [19]:
class AttributeSelector(BaseEstimator, TransformerMixin):

    def __init__(self, attribute_names):
        self.attribute_names = attribute_names
        
    def fit(self, X, y=None):
        return self
    
    def transform(self, X, y=None):  
        return X[self.attribute_names].values

In [20]:
class DropDataFrameColumns(BaseEstimator, TransformerMixin):

    def __init__(self, drop=True):
        self.drop = drop
        
    def fit(self, X, y=None):
        return self
    
    def transform(self, X, y=None):
        
        result = pd.DataFrame(X[:,3:])
        return np.c_[result]

In [21]:
X_train_data_set.head()

,callID,callStart,callEnd,startDay,endDay,callType,callCost
20972,20973,1899-12-30 21:15:00,1899-12-30 21:51:00,Thursday,Thursday,Local,36.211013
40833,40834,1899-12-30 22:00:00,1899-12-30 22:03:00,Wednesday,Wednesday,National,13.526986
37949,37950,1899-12-30 15:40:00,1899-12-30 15:58:00,Sunday,Sunday,Local,18.694535
18108,18109,1899-12-30 13:20:00,1899-12-30 13:35:00,Tuesday,Tuesday,Mobile,236.024526
46326,46327,1899-12-30 03:10:00,1899-12-30 03:43:00,Thursday,Thursday,Local,33.852937

In [22]:
from sklearn.preprocessing import LabelBinarizer

class CustomLabelBinarizer(BaseEstimator, TransformerMixin):
    def __init__(self, sparse_output=False):
        self.sparse_output = sparse_output
    def fit(self, X, y=None):
        return self
    def transform(self, X, y=None):
        enc = LabelBinarizer(sparse_output=self.sparse_output)
        return enc.fit_transform(X)

In [23]:
from sklearn.preprocessing import MultiLabelBinarizer

class CustomMultiLabelBinarizer(BaseEstimator, TransformerMixin):
    def __init__(self, sparse_output=False):
        self.sparse_output = sparse_output
    def fit(self, X, y=None):
        return self
    def transform(self, X, y=None):
        enc = MultiLabelBinarizer(sparse_output=self.sparse_output)
        return enc.fit_transform(X)

In [24]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import LabelBinarizer
from sklearn.compose import ColumnTransformer

duration_attributes = ["callID", "callStart", "callEnd"]
callday_attributes = ["startDate"]
cat_attributes = ["callType"]
multilabel_cat_attributes = ["startDay"]

duration_pipeline = Pipeline(
    [
        ('selector', AttributeSelector(duration_attributes)),
        ('attr_add', CallDurationAttribute())
    ]
)

cat_pipeline = Pipeline(
    [
        ('selector', AttributeSelector(cat_attributes)),
        ('label_binarizer', CustomLabelBinarizer())
    ]
)

multilable_cat_pipeline = Pipeline(
    [
        ('selector', AttributeSelector(multilabel_cat_attributes)),
        ('label_binarizer', CustomLabelBinarizer())
    ]
)

In [25]:
from sklearn.pipeline import FeatureUnion
cdr_pipeline = FeatureUnion(transformer_list =[
    ("duration_pipeline", duration_pipeline),
    ("cat_pipeline", cat_pipeline),
    ("multilable_cat_pipeline",multilable_cat_pipeline)
])

df_data_prepared = cdr_pipeline.transform(X_train_data_set)
df_data_prepared = df_data_prepared[:,3:]
df_data_prepared

array([[0, 36, 0, ..., 1, 0, 0],
       [0, 3, 0, ..., 0, 0, 1],
       [0, 18, 0, ..., 0, 0, 0],
       ...,
       [0, 11, 0, ..., 0, 0, 0],
       [0, 12, 0, ..., 0, 1, 0],
       [0, 20, 0, ..., 1, 0, 0]], dtype=object)

In [26]:
v= pd.DataFrame(df_data_prepared)
v.head(1000)

    0   1  2  3  4  5  6  7  8  9  10 11 12 13 14
0    0  36  0  0  1  0  0  0  0  0  0  0  1  0  0
1    0   3  0  0  0  0  1  0  0  0  0  0  0  0  1
2    0  18  0  0  1  0  0  0  0  0  0  1  0  0  0
3    0  15  0  0  0  1  0  0  0  0  0  0  0  1  0
4    0  33  0  0  1  0  0  0  0  0  0  0  1  0  0
..  ..  .. .. .. .. .. .. .. .. .. .. .. .. .. ..
995  0  28  0  0  1  0  0  0  0  0  0  0  0  1  0
996  0  16  0  0  1  0  0  0  0  1  0  0  0  0  0
997  0   5  0  0  0  1  0  0  0  0  0  0  0  0  1
998  0  37  0  1  0  0  0  0  0  0  0  0  1  0  0
999  0  30  0  0  1  0  0  0  0  0  1  0  0  0  0

[1000 rows x 15 columns]

In [27]:
from sklearn.linear_model import SGDClassifier
sgl_clf = SGDClassifier(random_state=42)
sgl_clf.fit(df_data_prepared, y_train_data_set)

ValueError: The number of classes has to be greater than one; got 1 class

In [28]:
from sklearn.model_selection import cross_val_score
cross_val_score(sgl_clf, df_data_prepared, y_train_data_set, cv=10, scoring='accuracy')

array([0.99695934, 0.99709388, 0.9971477 , 0.99718806, 0.99720152,
       0.99693243, 0.99691898, 0.99725533, 0.99724188, 0.99613863])

In [28]:
df_test_data_prepared = cdr_pipeline.transform(X_test_data_set)
df_test_data_prepared = df_test_data_prepared[:,3:]
df_test_data_prepared

array([[0, 1, 0, ..., 0, 0, 1],
       [0, 7, 0, ..., 1, 0, 0],
       [0, 4, 0, ..., 0, 0, 0],
       ...,
       [0, 14, 0, ..., 0, 0, 0],
       [0, 43, 0, ..., 0, 0, 0],
       [0, 36, 0, ..., 0, 0, 0]], dtype=object)

In [29]:
y_test_data_set

9112     0
1597     0
21092    0
8391     0
38471    0
        ..
16985    0
39142    0
39530    0
38621    0
12245    0
Name: fraudulent, Length: 16500, dtype: int32

In [30]:
test_predict = sgl_clf.predict(df_test_data_prepared)

IndexError: tuple index out of range

In [32]:
test_predict

array([0, 0, 0, ..., 0, 0, 0])

In [33]:
sgl_clf.score(df_test_data_prepared, y_test_data_set)

0.9968859605992068

In [34]:
from sklearn.metrics import f1_score
score = f1_score(test_predict, y_test_data_set)

In [35]:
score

0.9181622397702799

In [36]:
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, classification_report, confusion_matrix
print(f1_score(y_test_data_set, test_predict, average="macro"))
print(precision_score(y_test_data_set, test_predict, average="macro"))
print(recall_score(y_test_data_set, test_predict, average="macro"))  
print("\n-----------------------------------------------\n")
print(f1_score(y_test_data_set, test_predict))
print(precision_score(y_test_data_set, test_predict))
print(recall_score(y_test_data_set, test_predict)) 
print(confusion_matrix(y_test_data_set, test_predict))
print(classification_report(y_test_data_set, test_predict))

0.9582875110813729
0.9865057219067437
0.9332789135651142

-----------------------------------------------

0.9181622397702799
0.9757400061031432
0.8670010845986985
[[358549    159]
 [   981   6395]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00    358708
           1       0.98      0.87      0.92      7376

    accuracy                           1.00    366084
   macro avg       0.99      0.93      0.96    366084
weighted avg       1.00      1.00      1.00    366084

In [37]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test_data_set, sgl_clf.decision_function(df_test_data_prepared), average="macro")

0.964550662693167

Implementation of RandomforestRegressor Model

In [31]:

from sklearn.ensemble import RandomForestRegressor
RFR =RandomForestRegressor()

RFR.fit(df_data_prepared,y_train_data_set)


print(RFR.score(df_test_data_prepared,y_test_data_set))

1.0

In [32]:
grid_param = {
    "n_estimators" : [90,100,115,130],
    'criterion': ['gini', 'entropy'],
    'max_depth' : range(2,20,1),
    'min_samples_leaf' : range(1,10,1),
    'min_samples_split': range(2,10,1),
    'max_features' : ['auto','log2']
}

In [34]:
from sklearn.model_selection import GridSearchCV
grid_search = GridSearchCV(estimator=RFR,param_grid=grid_param,cv=5,n_jobs =3,verbose = 3)

In [35]:
grid_search.fit(df_data_prepared,y_train_data_set)

Fitting 5 folds for each of 20736 candidates, totalling 103680 fits

[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  26 tasks      | elapsed:    2.8s
[Parallel(n_jobs=3)]: Done 130 tasks      | elapsed:    6.4s
[Parallel(n_jobs=3)]: Done 450 tasks      | elapsed:   15.7s
[Parallel(n_jobs=3)]: Done 898 tasks      | elapsed:   28.8s
[Parallel(n_jobs=3)]: Done 1474 tasks      | elapsed:   45.5s
[Parallel(n_jobs=3)]: Done 2178 tasks      | elapsed:  1.1min
[Parallel(n_jobs=3)]: Done 3010 tasks      | elapsed:  1.5min
[Parallel(n_jobs=3)]: Done 3970 tasks      | elapsed:  2.0min
[Parallel(n_jobs=3)]: Done 5058 tasks      | elapsed:  2.5min
[Parallel(n_jobs=3)]: Done 6274 tasks      | elapsed:  3.1min
[Parallel(n_jobs=3)]: Done 7618 tasks      | elapsed:  3.8min
[Parallel(n_jobs=3)]: Done 9090 tasks      | elapsed:  4.5min
[Parallel(n_jobs=3)]: Done 10690 tasks      | elapsed:  5.2min
[Parallel(n_jobs=3)]: Done 12418 tasks      | elapsed:  6.1min
[Parallel(n_jobs=3)]: Done 14274 tasks      | elapsed:  7.0min
[Parallel(n_jobs=3)]: Done 16258 tasks      | elapsed:  7.9min
[Parallel(n_jobs=3)]: Done 18370 tasks      | elapsed:  9.0min
[Parallel(n_jobs=3)]: Done 20610 tasks      | elapsed: 10.1min
[Parallel(n_jobs=3)]: Done 22978 tasks      | elapsed: 11.2min
[Parallel(n_jobs=3)]: Done 25474 tasks      | elapsed: 12.4min
[Parallel(n_jobs=3)]: Done 28098 tasks      | elapsed: 13.7min
[Parallel(n_jobs=3)]: Done 30850 tasks      | elapsed: 15.0min
[Parallel(n_jobs=3)]: Done 33730 tasks      | elapsed: 16.4min
[Parallel(n_jobs=3)]: Done 36738 tasks      | elapsed: 17.9min
[Parallel(n_jobs=3)]: Done 39874 tasks      | elapsed: 19.5min
[Parallel(n_jobs=3)]: Done 43138 tasks      | elapsed: 21.1min
[Parallel(n_jobs=3)]: Done 46530 tasks      | elapsed: 22.7min
[Parallel(n_jobs=3)]: Done 50050 tasks      | elapsed: 24.4min
[Parallel(n_jobs=3)]: Done 53698 tasks      | elapsed: 26.2min
[Parallel(n_jobs=3)]: Done 57474 tasks      | elapsed: 28.0min
[Parallel(n_jobs=3)]: Done 61378 tasks      | elapsed: 29.9min
[Parallel(n_jobs=3)]: Done 65410 tasks      | elapsed: 31.9min
[Parallel(n_jobs=3)]: Done 69570 tasks      | elapsed: 33.9min
[Parallel(n_jobs=3)]: Done 73858 tasks      | elapsed: 35.9min
[Parallel(n_jobs=3)]: Done 78274 tasks      | elapsed: 38.1min
[Parallel(n_jobs=3)]: Done 82818 tasks      | elapsed: 40.3min
[Parallel(n_jobs=3)]: Done 87490 tasks      | elapsed: 42.5min
[Parallel(n_jobs=3)]: Done 92290 tasks      | elapsed: 44.8min
[Parallel(n_jobs=3)]: Done 97218 tasks      | elapsed: 47.2min
[Parallel(n_jobs=3)]: Done 102274 tasks      | elapsed: 49.7min
[Parallel(n_jobs=3)]: Done 103680 out of 103680 | elapsed: 50.4min finished

KeyError: 'gini'

In [36]:
grid_search.best_params_

{'criterion': 'gini',
 'max_depth': 2,
 'max_features': 'auto',
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'n_estimators': 90}

In [45]:
DTR = RandomForestRegressor(criterion='mse',
 max_depth=2,
 max_features='auto',
 min_samples_leaf= 1,
 min_samples_split= 2,
 n_estimators= 90)
DTR.fit(df_data_prepared,y_train_data_set)

RandomForestRegressor(max_depth=2, n_estimators=90)

In [46]:
DTR.score(df_test_data_prepared,y_test_data_set)

1.0

In [50]:
from sklearn.metrics import f1_score
test_predict_DTR = DTR.predict(df_test_data_prepared)
score = f1_score( y_test_data_set,test_predict_DTR, average="macro")
score

1.0

In [51]:
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, classification_report, confusion_matrix
print(f1_score(y_test_data_set, test_predict_DTR, average="macro"))
print(precision_score(y_test_data_set, test_predict_DTR, average="macro"))
print(recall_score(y_test_data_set, test_predict_DTR, average="macro"))  
print("\n-----------------------------------------------\n")
print(f1_score(y_test_data_set, test_predict_DTR))
print(precision_score(y_test_data_set, test_predict_DTR))
print(recall_score(y_test_data_set, test_predict_DTR)) 
print(confusion_matrix(y_test_data_set, test_predict_DTR))
print(classification_report(y_test_data_set, test_predict_DTR))

1.0
1.0
1.0

-----------------------------------------------

0.0
0.0
0.0
[[16500]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     16500

    accuracy                           1.00     16500
   macro avg       1.00      1.00      1.00     16500
weighted avg       1.00      1.00      1.00     16500

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1464: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no true nor predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 due to no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

# XGBOOST

In [52]:
params = [{ 'learning_rate':[0.01,0.001],
                        'max_depth': [3,5,10,15],
                        'n_estimators':[10,50,100,200]
                    }
                   ]

In [54]:
from sklearn.model_selection import GridSearchCV
from xgboost import XGBClassifier
Xbc = XGBClassifier()
Gcv = GridSearchCV(Xbc,params,scoring='accuracy',cv=5,n_jobs=3,verbose=3)
Gcv.fit(df_data_prepared,y_train_data_set)

Fitting 5 folds for each of 32 candidates, totalling 160 fits

[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  26 tasks      | elapsed:    9.0s
[Parallel(n_jobs=3)]: Done 122 tasks      | elapsed:   28.0s

[06:36:34] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

[Parallel(n_jobs=3)]: Done 160 out of 160 | elapsed:   34.8s finished
C:\ProgramData\Anaconda3\lib\site-packages\xgboost\sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

GridSearchCV(cv=5,
             estimator=XGBClassifier(base_score=None, booster=None,
                                     colsample_bylevel=None,
                                     colsample_bynode=None,
                                     colsample_bytree=None, gamma=None,
                                     gpu_id=None, importance_type='gain',
                                     interaction_constraints=None,
                                     learning_rate=None, max_delta_step=None,
                                     max_depth=None, min_child_weight=None,
                                     missing=nan, monotone_constraints=None,
                                     n_estimators=100, n_jobs=None,
                                     num_parallel_tree=None, random_state=None,
                                     reg_alpha=None, reg_lambda=None,
                                     scale_pos_weight=None, subsample=None,
                                     tree_method=None, validate_parameters=None,
                                     verbosity=None),
             n_jobs=3,
             param_grid=[{'learning_rate': [0.01, 0.001],
                          'max_depth': [3, 5, 10, 15],
                          'n_estimators': [10, 50, 100, 200]}],
             scoring='accuracy', verbose=3)

In [55]:
Gcv.best_params_

{'learning_rate': 0.01, 'max_depth': 3, 'n_estimators': 10}

In [57]:
XBC = XGBClassifier(learning_rate=0.01,max_depth=3,n_estimators=10)
XBC.fit(df_data_prepared,y_train_data_set)

[06:40:07] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.01, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=10, n_jobs=8, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [59]:
XBC.score(df_test_data_prepared,y_test_data_set)

1.0

In [60]:
test_predict = XBC.predict(df_test_data_prepared)

In [61]:
from sklearn.metrics import f1_score
score = f1_score(test_predict, y_test_data_set, average="macro")

In [62]:
score

1.0

In [63]:
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, classification_report, confusion_matrix
print(f1_score(y_test_data_set, test_predict, average="macro"))
print(precision_score(y_test_data_set, test_predict, average="macro"))
print(recall_score(y_test_data_set, test_predict, average="macro"))  
print("\n-----------------------------------------------\n")
print(f1_score(y_test_data_set, test_predict))
print(precision_score(y_test_data_set, test_predict))
print(recall_score(y_test_data_set, test_predict)) 
print(confusion_matrix(y_test_data_set, test_predict))
print(classification_report(y_test_data_set, test_predict))

1.0
1.0
1.0

-----------------------------------------------

0.0
0.0
0.0
[[16500]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     16500

    accuracy                           1.00     16500
   macro avg       1.00      1.00      1.00     16500
weighted avg       1.00      1.00      1.00     16500

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1464: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no true nor predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 due to no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

# DecisionTreeClassifier

In [65]:
from sklearn.tree import DecisionTreeClassifier, export_graphviz
clf = DecisionTreeClassifier()
clf.fit(df_data_prepared,y_train_data_set)
clf.score(df_test_data_prepared,y_test_data_set)

1.0

In [66]:
grid_param = {
    'criterion': ['gini', 'entropy'],
    'max_depth' : range(2,32,1),
    'min_samples_leaf' : range(1,10,1),
    'min_samples_split': range(2,10,1),
    'splitter' : ['best', 'random']
    
}

In [67]:
grid_search = GridSearchCV(estimator=clf,
                     param_grid=grid_param,
                     cv=5,
                    n_jobs =-1)

In [69]:
grid_search.fit(df_data_prepared,y_train_data_set)

GridSearchCV(cv=5, estimator=DecisionTreeClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': range(2, 32),
                         'min_samples_leaf': range(1, 10),
                         'min_samples_split': range(2, 10),
                         'splitter': ['best', 'random']})

In [70]:
best_parameters = grid_search.best_params_
print(best_parameters)

{'criterion': 'gini', 'max_depth': 2, 'min_samples_leaf': 1, 'min_samples_split': 2, 'splitter': 'best'}

In [71]:
grid_search.best_score_

1.0

In [72]:
clf = DecisionTreeClassifier(criterion = 'gini', max_depth =2, min_samples_leaf= 1, min_samples_split= 2, splitter ='best')
clf.fit(df_data_prepared,y_train_data_set)

DecisionTreeClassifier(max_depth=2)

In [73]:
clf.score(df_test_data_prepared,y_test_data_set)

1.0

In [74]:
test_predict_dt = clf.predict(df_test_data_prepared)

In [75]:
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, classification_report, confusion_matrix
print(f1_score(y_test_data_set, test_predict_dt, average="macro"))
print(precision_score(y_test_data_set, test_predict_dt, average="macro"))
print(recall_score(y_test_data_set, test_predict_dt, average="macro"))  
print("\n-----------------------------------------------\n")
print(f1_score(y_test_data_set, test_predict_dt))
print(precision_score(y_test_data_set, test_predict_dt))
print(recall_score(y_test_data_set, test_predict_dt)) 
print(confusion_matrix(y_test_data_set, test_predict_dt))
print(classification_report(y_test_data_set, test_predict_dt))

1.0
1.0
1.0

-----------------------------------------------

0.0
0.0
0.0
[[16500]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     16500

    accuracy                           1.00     16500
   macro avg       1.00      1.00      1.00     16500
weighted avg       1.00      1.00      1.00     16500

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1464: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no true nor predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 due to no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))